* {
  box-sizing: border-box;
}
h1{
  text-align: center;
}
.news{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 900px;
  padding: 0 15px;
}
.news__img{
  max-width: 100%;
  width: 500px;
}
@media (min-width: 750px) {
  .news{
    flex-direction: row;
  }
}