
section{
margin-bottom: 20px;
}
.flip__card{
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip__card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.6s ease-in;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0,2);
}

.flip__card:hover .flip__card-inner{
  transform: rotateY(180deg);
}
.flip__card-front, .flip__card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip__card-front{
  background-color: #bbb;
  color: black;
 
}
.flip__card-back{
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
.body__img{
  width: 300px;
  height: 300px;
}

.block{
  position: relative;
  width: 100px;
  height: 100px;
  top: 0;
  background-color: brown;
  /* animation-name: moveForward; */
 
  animation-duration: 2s;
  animation-direction: reverse;
  animation-iteration-count: 3;
}
.block:hover{
  animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
@keyframes moveForward {
  from {
    left: 0;
  }
  25%{
    top: 100px;
    background-color: green;
  }
  70%{
    top: 0;
    background-color: yellow;
    border-radius: 50%;
  }
  to{
    left: 100%;
    background-color: brown;
  }
}
@keyframes shadow-pop-tl {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
    transform: translateX(8px) translateY(8px);
  }
}

/* .body__img {
  transition: all 0.3s ease-in;
  transform: perspective(300px);
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%); 
}

 .body__img:hover {
  transform: perspective(300px) rotateY(40deg);
  /* transform: rotate(1turn); 
  /* transform: scale(2); */
  /* transform: skew(22deg); 
} */